<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gaml.extension">
   </extension>
   <extension
         point="gama.save">
      <implementation
            class="gama.extension.stats.rds.RDSSaver"
            description="Saves data in R RDS format">
      </implementation>
   </extension>
</plugin>
