*.icloud
*.gamlbin
*.experimentbin
*.log
target/
*.orig
build/
!gama.ui.shared/icons/build/
dist/
private/
release/
*.iml
*.ipr
*.iws
*.iml
.idea/
*~
*.bak
.directory
.DS_Store
*.history
*.class
.metadata/
/*/gaml/
/*/bin/
gama.dependencies/lib/
.__*
/*/.tycho-consumer-pom.xml
