<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="platform:/plugin/gama.ui.shared/icons/navigator/files/folder.model.png"
            id="gama.application.nature.gamaNature.img"
            natureId="gama.ui.application.gamaNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Disable unwanted eclipse UI"
            id="disabled"
            name="Disable Unwanted UI">
      </activity>
      <activity
            id="disabled3"
            name="Disable P2 activity">
      </activity>
      
            <activityPatternBinding
            activityId="disabled2"
            pattern=".*/.*Nature">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disabled"
            isEqualityPattern="false"
            pattern="gama.application/gama.application.perspectives..*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disabled"
            pattern="org.eclipse.*navigator.*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disabled"
            pattern="org.eclipse.*compare.*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disabled"
            pattern="org.eclipse.*team.*/.*">
      </activityPatternBinding>
      <activity
            id="disabled2"
            name="Disable XText activity">
      </activity>
      <activityPatternBinding
            activityId="disabled3"
            pattern=".*/.*restartWorkbench">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="gama.ui.category.gama"
            name="Gama">
      </category>
            <view
            allowMultiple="false"
            category="gama.ui.category.gama"
            class="gama.ui.shared.views.InteractiveConsoleView"
            icon="/icons/views/tabs/view.interactive.png"
            id="gama.ui.application.view.InteractiveConsoleView"
            name="Interactive console"
            restorable="true">
      </view>
            <view 
                  allowMultiple="false"
                  category="gama.ui.category.gama"
                  class="gama.ui.shared.views.TestView"
                  icon="/icons/views/tabs/view.test.png"
                  id="gama.ui.application.view.TestView"
                  name="Tests"
                  restorable="false"> 
            </view> 
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="gama.category"
            defaultHandler="gama.ui.shared.commands.OpenGamaWebsiteHandler"
            id="gama.application.command.web"
            name="Documentation">
      </command>
      <category
            id="gama.category"
            name="Specific to GAMA">
      </category>
      <commandParameterType
            id="gama.application.String"
            type="java.lang.String">
      </commandParameterType>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.ui.edit.copy"
            icon="platform:/plugin/gama.ui.shared/icons/generic/menu.copy.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.cut"
            icon="platform:/plugin/gama.ui.shared/icons/generic/menu.cut.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.delete"
            icon="platform:/plugin/gama.ui.shared/icons/generic/menu.delete.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.paste"
            icon="platform:/plugin/gama.ui.shared/icons/generic/menu.paste.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.print"
            icon="platform:/plugin/gama.ui.shared/icons/generic/menu.print.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.undo"
            icon="platform:/plugin/gama.ui.shared/icons/generic/menu.undo.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.redo"
            icon="platform:/plugin/gama.ui.shared/icons/generic/menu.redo.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.save"
            icon="platform:/plugin/gama.ui.shared/icons/generic/menu.save.png"> 
      </image>
      <image
            commandId="org.eclipse.ui.file.saveAll"
            icon="platform:/plugin/gama.ui.shared/icons/generic/menu.saveall.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.saveAs"
            icon="platform:/plugin/gama.ui.shared/icons/generic/menu.saveas.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.refresh"
            icon="platform:/plugin/gama.ui.shared/icons/navigator/file.refresh.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.export"
            icon="platform:/plugin/gama.ui.shared/icons/navigator/menu.export.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.import"
            icon="platform:/plugin/gama.ui.shared/icons/navigator/menu.import.png">
      </image>
      <image
            commandId="org.eclipse.ui.window.preferences"
            disabledIcon="platform:/plugin/gama.ui.shared/icons/generic/menu.open.preferences_disabled.png"
            icon="platform:/plugin/gama.ui.shared/icons/generic/menu.open.preferences.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <hiddenMenuItem
               id="org.eclipse.ui.project.buildAll">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.pde.ui.junitWorkbenchShortcut.debug">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.pde.ui.junitWorkbenchShortcut.run">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.externalTools.commands.OpenExternalToolsConfigurations">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.navigate.addToWorkingSet">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.navigate.removeFromWorkingSet">
         </hiddenMenuItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.back">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.forward">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.up">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.next">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.backwardHistory">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.forwardHistory">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.previous">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.edit.text.gotoPreviousAnnotation">
         </hiddenToolBarItem>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="gama.application.common.toolbar"
               label="Common">
            <command
                  commandId="gama.application.goto.modeling"
                  disabledIcon="platform:/plugin/gama.ui.shared/icons/views/perspective.modeling_disabled.png"
                  icon="platform:/plugin/gama.ui.shared/icons/views/perspective.modeling.png"
                  label="Modeling perspective"
                  style="push"
                  tooltip="Open modeling perspective">
               <visibleWhen
                     checkEnabled="false">
                  <not>
                     <reference
                           definitionId="isInModelingPerspective">
                     </reference>
                  </not>
               </visibleWhen>
            </command>
            <separator
                  name="additions"
                  visible="false">
            </separator>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=open.ext">
         <command
               commandId="gama.ui.switchWorkspace"
               icon="platform:/plugin/gama.ui.shared/icons/generic/menu.switch.png"
               label="Switch Workspace..."
               style="push">
         </command>
         <command
               commandId="gama.ui.restart"
               icon="platform:/plugin/gama.ui.shared/icons/generic/menu.restart.png"
               label="Restart GAMA"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:support?after=group.about.ext">
         <command
               commandId="gama.application.command.web"
               disabledIcon="icons/generic/menu.help_disabled.png"
               icon="icons/generic/menu.help.png"
               label="Documentation..."
               style="push"
               tooltip="Open GAMA documentation in a browser">
         </command>
         <separator
               name="gama.ui.shared.help.separator2"
               visible="true">
         </separator>
         <command
               commandId="gama.ui.update"
               icon="platform:/plugin/gama.ui.shared/icons/generic/menu.update.png"
               label="Check for Updates"
               style="push">
         </command>
         <command
               commandId="gama.ui.install"
               icon="platform:/plugin/gama.ui.shared/icons/generic/menu.install.png"
               label="Install new Plugins..."
               style="push">
         </command>
         <command 
               commandId="gama.ui.details"
               icon="platform:/plugin/gama.ui.shared/icons/generic/menu.details.png"
               label="Installation Details"
               style="push">
         </command>
         <separator
               name="gama.ui.shared.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.toggleShowKeys"
               label="Toggle Command Descriptions"
               style="toggle">
         </command>
         <command
               commandId="org.eclipse.ui.window.showKeyAssist"
               label="Show Command Shortcuts..."
               style="push">
         </command>
         <separator
               name="gama.ui.shared.separator3"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.window.preferences"
               disabledIcon="platform:/plugin/gama.ui.shared/icons/generic/menu.open.preferences_disabled.png"
               icon="platform:/plugin/gama.ui.shared/icons/generic/menu.open.preferences.png"
               label="Preferences"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <not>
                  <systemTest
                        property="osgi.os"
                        value="macosx">
                  </systemTest>
               </not>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.help.aboutAction"
               disabledIcon="icons/generic/menu.about_disabled.png"
               icon="icons/generic/menu.about.png"
               label="About GAMA..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <not>
                  <systemTest
                        property="osgi.os"
                        value="macosx">
                  </systemTest>
               </not>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension  point="org.eclipse.ui.commands">
      
      <command
            categoryId="gama.category"
            defaultHandler="gama.ui.shared.commands.DetailsHandler"
            id="gama.ui.details"
            name="Installation details">
      </command>
      <command
            categoryId="gama.category"
            defaultHandler="gama.ui.shared.commands.SwitchWorkspaceHandler"
            id="gama.ui.switchWorkspace"
            name="Switch Workspace">
     </command>
      <command
            categoryId="gama.category"
            defaultHandler="gama.ui.shared.commands.InstallHandler"
            id="gama.ui.install"
            name="Install new plugins...">
      </command>
      <command
            categoryId="gama.category"
            defaultHandler="gama.ui.shared.commands.UpdateHandler"
            id="gama.ui.update"
            name="Check for updates">
      </command>
      <command
            categoryId="gama.category"
            defaultHandler="gama.ui.shared.commands.RestartHandler"
            id="gama.ui.restart"
            name="Restart GAMA">
      </command>
   </extension>
      <extension
         point="org.eclipse.ui.handlers">
               <handler
            class="gama.ui.shared.commands.PreferencesHandler"
            commandId="org.eclipse.ui.window.preferences">
         <activeWhen>
            <or>
               <reference
                     definitionId="isInModelingPerspective">
               </reference>
               <reference
                     definitionId="isInSimulationPerspective">
               </reference>
            </or>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="gama.ui.shared.Startup">
      </startup>
   </extension>
   <extension point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="gama.ui.shared.shared.WebHelperFactory">
         <service
               serviceClass="gama.ui.application.workbench.IWebHelper">
         </service>
      </serviceFactory>
      <serviceFactory
            factoryClass="gama.ui.shared.shared.IconProviderFactory">
         <service
               serviceClass="gama.ui.application.workbench.IIconProvider"></service>
      </serviceFactory>
      <serviceFactory
            factoryClass="gama.ui.shared.shared.PreferenceHelperFactory">
         <service
               serviceClass="gama.ui.application.workbench.IPreferenceHelper">
         </service>
      </serviceFactory>
   </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="gama.application.command.web"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+M2+D">
       </key>
    </extension>



</plugin>
