<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
	            default="true"
            extensions="gaml,experiment"
            icon="platform:/plugin/gama.ui.shared/icons/light/navigator/files/file.model.png"
            id="gaml.compiler.Gaml"
            name="Gaml Editor">
         <contentTypeBinding
               contentTypeId="gama.ui.gaml.type">
         </contentTypeBinding>
      </editor>
   </extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="gaml.compiler.Gaml.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="gaml.compiler.Gaml"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="gaml.compiler.Gaml.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="gaml.compiler.Gaml"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="gaml.compiler.Gaml"
			name="Gaml">
			<keywordReference id="gaml.compiler.ui.keyword_Gaml"/>
		</page>
		<page
			category="gaml.compiler.Gaml"
			class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="gaml.compiler.Gaml.templates"
			name="Templates">
			<keywordReference id="gaml.compiler.ui.keyword_Gaml"/>
		</page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="gaml.compiler.Gaml"
			name="Gaml">
			<keywordReference id="gaml.compiler.ui.keyword_Gaml"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
  <page
        category="gaml.compiler.Gaml"
        class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
        id="gaml.compiler.Gaml.compiler.propertyPage"
        name="Compiler">
     <keywordReference
           id="gaml.compiler.ui.keyword_Gaml">
     </keywordReference>
     <enabledWhen>
        <adapt
              type="org.eclipse.core.resources.IProject">
        </adapt>
     </enabledWhen>
     <filter
           name="projectNature"
           value="org.eclipse.xtext.ui.shared.xtextNature">
     </filter>
  </page>
	</extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
          commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
       <activeWhen>
          <reference
                definitionId="gaml.compiler.Gaml.Editor.opened">
          </reference>
       </activeWhen>
    </handler>
    <handler
          class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
          commandId="gaml.compiler.Gaml.validate">
       <activeWhen>
          <reference
                definitionId="gaml.compiler.Gaml.Editor.opened">
          </reference>
       </activeWhen>
    </handler>
    <handler
          class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
          commandId="org.eclipse.xtext.ui.editor.FindReferences">
       <activeWhen>
          <reference
                definitionId="gaml.compiler.Gaml.Editor.opened">
          </reference>
       </activeWhen>
    </handler>
    <handler
          class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
          commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
       <activeWhen>
          <reference
                definitionId="gaml.compiler.Gaml.Editor.opened">
          </reference>
       </activeWhen>
    </handler>
    <handler
          class="org.eclipse.ui.internal.handlers.WidgetMethodHandler:paste"
          commandId="org.eclipse.ui.edit.paste">
       <activeWhen>
          <with
                variable="activeFocusControlId">
             <equals
                   value="search">
             </equals>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.eclipse.ui.internal.handlers.WidgetMethodHandler:copy"
          commandId="org.eclipse.ui.edit.copy">
       <activeWhen>
          <with
                variable="activeFocusControlId">
             <equals
                   value="search">
             </equals>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.eclipse.ui.internal.handlers.WidgetMethodHandler:cut"
          commandId="org.eclipse.ui.edit.cut">
       <activeWhen>
          <with
                variable="activeFocusControlId">
             <equals
                   value="search">
             </equals>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
          commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
       <activeWhen>
          <reference
                definitionId="gaml.compiler.Gaml.Editor.opened">
          </reference>
       </activeWhen>
    </handler>
 </extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="gaml.compiler.ui.keyword_Gaml"
			label="Gaml"/>
	</extension>

	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Trigger expensive validation"
			id="gaml.compiler.Gaml.validate"
			name="Validate">
		</command>
		<!-- copy qualified name -->
  <command
        description="Open the quick outline."
        id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
        name="Quick Outline">
  </command>
  <command
        defaultHandler="gama.ui.editor.CleanBuildCommand"
        id="ummisco.command.clean.build"
        name="Clean and Build All">
  </command>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<!-- copy qualified name -->
  <menuContribution
        allPopups="false"
        locationURI="menu:file?before=save.ext">
     <command
           commandId="ummisco.command.clean.build"
           disabledIcon="platform:/plugin/gama.ui.shared/icons/light/validation/compile.all_disabled.png"
           icon="platform:/plugin/gama.ui.shared/icons/light/validation/compile.all.png"
           label="Clean and Validate All"
           style="push"> 
        <visibleWhen
              checkEnabled="true">
        </visibleWhen>
     </command>
  </menuContribution>
  <menuContribution
        locationURI="popup:#TextEditorContext?after=group.edit">
     <command
           commandId="org.eclipse.xtext.ui.editor.FindReferences"
           disabledIcon="platform:/plugin/gama.ui.shared/icons/light/editor/find.references_disabled.png"
           icon="platform:/plugin/gama.ui.shared/icons/light/editor/find.references.png">
        <visibleWhen
              checkEnabled="false">
           <reference
                 definitionId="gaml.compiler.Gaml.Editor.opened">
           </reference>
        </visibleWhen>
     </command>
     <command
           commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration"
           disabledIcon="platform:/plugin/gama.ui.shared/icons/light/editor/open.declaration_disabled.png"
           icon="platform:/plugin/gama.ui.shared/icons/light/editor/open.declaration.png"
           id="xtext.ui.openDeclaration"
           style="push">
        <visibleWhen
              checkEnabled="false">
           <reference
                 definitionId="isActiveEditorAnInstanceOfXtextEditor">
           </reference>
        </visibleWhen>
     </command>
     <command
           commandId="org.eclipse.ui.edit.text.contentAssist.proposals"
           disabledIcon="platform:/plugin/gama.ui.shared/icons/light/editor/content.assist_disabled.png"
           icon="platform:/plugin/gama.ui.shared/icons/light/editor/content.assist.png"
           style="push">
        <visibleWhen
              checkEnabled="false">
           <reference
                 definitionId="isActiveEditorAnInstanceOfXtextEditor">
           </reference>
        </visibleWhen>
     </command>
     <separator
           name="gama.ui.editor.separator2"
           visible="true">
     </separator>
     <command
           commandId="org.eclipse.xtext.ui.ToggleCommentAction"
           disabledIcon="platform:/plugin/gama.ui.shared/icons/light/editor/toggle.comment_disabled.png"
           icon="platform:/plugin/gama.ui.shared/icons/light/editor/toggle.comment.png"
           label="Toggle Comments"
           style="push">
        <visibleWhen
              checkEnabled="false">
           <reference
                 definitionId="isActiveEditorAnInstanceOfXtextEditor">
           </reference>
        </visibleWhen>
     </command>
     <command
           commandId="org.eclipse.xtext.ui.FormatAction"
           disabledIcon="platform:/plugin/gama.ui.shared/icons/light/editor/command.format_disabled.png"
           icon="platform:/plugin/gama.ui.shared/icons/light/editor/command.format.png"
           style="push">
        <visibleWhen
              checkEnabled="false">
           <reference
                 definitionId="isActiveEditorAnInstanceOfXtextEditor">
           </reference>
        </visibleWhen>
     </command>
     <command
           commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
           disabledIcon="platform:/plugin/gama.ui.shared/icons/light/navigator/file.rename_disabled.png"
           icon="platform:/plugin/gama.ui.shared/icons/light/navigator/file.rename.png"
           style="push">
        <visibleWhen
              checkEnabled="false">
           <reference
                 definitionId="gaml.compiler.Gaml.Editor.opened">
           </reference>
        </visibleWhen>
     </command>
     <separator
           name="gama.ui.editor.separator1"
           visible="true">
     </separator>
  </menuContribution>
	</extension>

	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="gaml">
		</parser>
  <parser
        class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
        type="experiment">
  </parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="gaml">
		</resourceServiceProvider>
        <resourceServiceProvider
              class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
              uriExtension="experiment">
        </resourceServiceProvider>
    </extension>
    
	<!-- marker definitions for gaml.compiler.Gaml -->
	<extension
			id="gaml.check.fast"
			name="Gaml Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="gaml.check.normal"
			name="Gaml Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="gaml.check.expensive"
			name="Gaml Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="gaml"/>
	</extension>
	<!-- Quick Outline -->
	<!-- quickfix marker resolution generator for gaml.compiler.Gaml -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="gama.ui.editor.gaml.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="gama.ui.editor.gaml.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="gama.ui.editor.gaml.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
 <extension
       point="org.eclipse.ui.editors.documentProviders">
    <provider
          class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
          extensions="gaml,experiment"
          id="gaml.compiler.Gaml.editors.documentProviders">
    </provider>
 </extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="gaml.compiler.Gaml.compare.contentViewers"
			class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="gaml,experiment">
		</viewer>
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="gaml.compiler.Gaml.compare.contentMergeViewers"
			class="gaml.compiler.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="gaml,experiment" label="Gaml Compare">
		</viewer>
	</extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          category="gama.ui.category.gama"
          class="gama.ui.views.GamaOutlineView"
          icon="platform:/plugin/gama.ui.shared/icons/light/views/tabs/view.outline.png"
          id="gama.ui.application.view.outline"
          name="Model Outline"
          restorable="true">
    </view>
    <view
          allowMultiple="false"
          category="gama.ui.category.gama"
          class="org.eclipse.ui.internal.views.markers.SyntaxErrorsView"
          icon="platform:/plugin/gama.ui.shared/icons/light/views/tabs/view.problems.png"
          id="gama.ui.application.view.problems"
          name="Validation"
          restorable="true">
    </view>
    <view
          category="gama.ui.category.gama"
          class="gaml.compiler.ui.templates.TemplatesView"
          icon="platform:/plugin/gama.ui.shared/icons/light/views/tabs/view.templates.png"
          id="gama.ui.application.view.templates"
          name="Templates"
          restorable="true">
    </view>
    <view
          allowMultiple="false"
          category="gama.ui.category.gama"
          class="gama.ui.views.GamaMinimapView"
          icon="platform:/plugin/gama.ui.shared/icons/light/views/tabs/view.minimap.png"
          id="gama.ui.application.view.minimap"
          name="Model Navigation"
          restorable="true">
    </view>
 </extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="gaml"
			type="text">
		</fileTypes>
		<fileTypes
			extension="experiment"
			type="text">
		</fileTypes>
	</extension>
	    <extension point="org.eclipse.ui.decorators">
           <decorator
                 adaptable="true"
                 class="gaml.compiler.ui.decorators.GamlDecorator"
                 id="gama.light.decorator"
                 label="Gaml Errors"
                 lightweight="true"
                 location="TOP_LEFT"
                 state="true">
          <description>
             Aggregates errors in resources to folders and projects.
          </description>
          <enablement>
             <or>
                <objectClass
                      name="org.eclipse.core.resources.IFile">
                </objectClass>
                <objectClass
                      name="gama.ui.navigator.view.contents.WrappedProject">
                </objectClass>
                <objectClass
                      name="gama.ui.navigator.view.contents.WrappedFolder">
                </objectClass>
                <objectClass
                      name="gama.ui.navigator.view.contents.TopLevelFolder">
                </objectClass>
                <objectClass
                      name="gama.ui.navigator.view.contents.WrappedModelContent">
                </objectClass>
                <objectClass
                      name="gama.ui.navigator.view.contents.WrappedExperimentContent">
                </objectClass>
                <objectClass
                      name="gama.ui.navigator.view.contents.WrappedSyntacticContent">
                </objectClass>
                <objectClass
                      name="gama.ui.navigator.view.contents.WrappedLink">
                </objectClass>
             </or>
          </enablement>
       </decorator>
	</extension>
    <extension
          point="org.eclipse.ui.startup">
       <startup
             class="gaml.compiler.ui.AutoStartup">
       </startup>
    </extension>
    <extension
          point="org.eclipse.ui.ide.markerSupport">
       <markerContentGenerator
             defaultMarkerGrouping="org.eclipse.ui.ide.allMarkers.severity"
             id="gama.ui.editor.gaml.error.generator"
             name="Error Generator">
          <markerTypeReference
                id="org.eclipse.xtext.ui.task">
          </markerTypeReference>             
             
             
          <markerTypeReference
                id="gama.ui.editor.gaml.check.expensive">
          </markerTypeReference>
          <markerTypeReference
                id="gama.ui.editor.gaml.check.normal">
          </markerTypeReference>
          <markerTypeReference
                id="gama.ui.editor.gaml.check.fast">
          </markerTypeReference>
             
         <markerGrouping
               id="org.eclipse.ui.ide.allMarkers.severity"
               label="Severity">
            <markerGroupingEntry
                  id="org.eclipse.ui.ide.allmarkers.errorSeverity"
                  label="Errors"
                  priority="30">
            </markerGroupingEntry>
            <markerGroupingEntry
                  id="org.eclipse.ui.ide.allmarkers.warningSeverity"
                  label="Warnings"
                  priority="20">
            </markerGroupingEntry>
            <markerGroupingEntry
                  id="org.eclipse.ui.ide.allmarkers.other"
                  label="Information"
                  priority="10">
            </markerGroupingEntry>
                        <markerGroupingEntry
                              id="org.eclipse.ui.ide.allmarkers.toDoSeverity"
                              label="Tasks"
                              priority="5">
                        </markerGroupingEntry>
            <markerAttributeGrouping
                  attribute="severity"
                  defaultGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                  markerType="gama.ui.editor.gaml.check.fast">
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.errorSeverity"
                     value="2">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.warningSeverity"
                     value="1">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                     value="0">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                     value="-1">
               </markerAttributeMapping>
            </markerAttributeGrouping>
                        <markerAttributeGrouping
                              attribute="severity"
                              defaultGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                              markerType="gama.ui.editor.gaml.check.normal">
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.errorSeverity"
                     value="2">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.warningSeverity"
                     value="1">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                     value="0">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                     value="-1">
               </markerAttributeMapping>
            </markerAttributeGrouping>
                        <markerAttributeGrouping
                              attribute="severity"
                              defaultGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                              markerType="gama.ui.editor.gaml.check.expensive">
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.errorSeverity"
                     value="2">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.warningSeverity"
                     value="1">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                     value="0">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                     value="-1">
               </markerAttributeMapping>
            </markerAttributeGrouping>
                        <markerAttributeGrouping
                              attribute="severity"
                              defaultGroupingEntry="org.eclipse.ui.ide.allmarkers.toDoSeverity"
                              markerType="org.eclipse.xtext.ui.task">
                           <markerAttributeMapping
                                 markerGroupingEntry="org.eclipse.ui.ide.allmarkers.toDoSeverity"
                                 value="2">
                           </markerAttributeMapping>
                           <markerAttributeMapping
                                 markerGroupingEntry="org.eclipse.ui.ide.allmarkers.toDoSeverity"
                                 value="1">
                           </markerAttributeMapping>
                           <markerAttributeMapping
                                 markerGroupingEntry="org.eclipse.ui.ide.allmarkers.toDoSeverity"
                                 value="0">
                           </markerAttributeMapping>
                           <markerAttributeMapping
                                 markerGroupingEntry="org.eclipse.ui.ide.allmarkers.toDoSeverity"
                                 value="-1">
                           </markerAttributeMapping>
                        </markerAttributeGrouping>
            
         </markerGrouping>
          <markerFieldConfiguration
                enabled="true"
                id="gama.ui.markerFieldConfiguration1"
                name="Problems"
                scope="ON_ANY"
                values="gama.ui.views.GamlProblems">
          </markerFieldConfiguration>
          <markerFieldReference
                id="gama.ui.description.field"
                visible="true">
          </markerFieldReference>
          <markerFieldReference
                id="gama.ui.project.field"
                visible="true">
          </markerFieldReference>
          <markerFieldReference
                id="org.eclipse.ui.ide.resourceField"
                visible="true">
          </markerFieldReference>
          <markerFieldReference
                id="org.eclipse.ui.ide.locationField"
                visible="true">
          </markerFieldReference>
       </markerContentGenerator>
       <markerField
             class="gaml.compiler.ui.markers.ProjectMarkerField"
             id="gama.ui.project.field"
             name="Project">
       </markerField>
       <markerField
             class="gaml.compiler.ui.markers.GamlDescriptionMarkerField"
             id="gama.ui.description.field"
             name="Description">
       </markerField>
       <markerTypeCategory
             name="All markers">
          <markerTypeReference
                id="gama.ui.editor.gaml.check.expensive">
          </markerTypeReference>
          <markerTypeReference
                id="gama.ui.editor.gaml.check.fast">
          </markerTypeReference>
          <markerTypeReference
                id="gama.ui.editor.gaml.check.normal">
          </markerTypeReference>
       </markerTypeCategory>
    </extension>
    <extension
          point="org.eclipse.ui.ide.markerImageProviders">
       <imageprovider
             class="gaml.compiler.ui.markers.GamlMarkerImageProvider"
             id="gama.ui.imageprovider.normal"
             markertype="gama.ui.editor.gaml.check.normal">
       </imageprovider>
       <imageprovider
             class="gaml.compiler.ui.markers.GamlMarkerImageProvider"
             id="gama.ui.imageprovider.expensive"
             markertype="gama.ui.editor.gaml.check.expensive">
       </imageprovider>
       <imageprovider
             class="gaml.compiler.ui.markers.GamlMarkerImageProvider"
             id="gama.ui.imageprovider.fast"
             markertype="gama.ui.editor.gaml.check.fast">
       </imageprovider>
       <imageprovider
             class="gaml.compiler.ui.markers.GamlMarkerImageProvider"
             id="org.eclipse.ui.problemMarkerProvider"
             markertype="org.eclipse.core.resources.problemmarker">
       </imageprovider>
    </extension>
    <extension
          point="org.eclipse.ui.actionSets">
       <actionSet
             id="gama.ui.actionset.search"
             label="Search Gaml Elements"
             visible="true">
          <action
                class="gaml.compiler.ui.editor.DelegateForAllElements"
                icon="platform:/plugin/gama.ui.shared/icons/light/generic/menu.searchtext.png"
                id="gama.ui.action.gaml.elements"
                label="GAML elements in models..."
                menubarPath="org.eclipse.search.menu/extraSearchGroup"
                style="push"
                tooltip="Search for any element defined in the GAML models present in the workspace">
          </action>
       </actionSet>
    </extension>
    <extension 
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             editorOnboardingImage="onboarding.icon.png"
             editorOnboardingText="Select a model in the navigator, create a new model file or consult the documentation to get started !"
             targetID="gama.ui.application.perspectives.ModelingPerspective">
          <view
                closeable="false"
                id="gama.ui.application.view.GamaNavigator"
                minimized="false"
                moveable="true"
                ratio="0.25"
                relationship="left"
                relative="org.eclipse.ui.editorss"
                standalone="true"
                visible="true">
          </view>
          <view
                closeable="true"
                id="gama.ui.application.view.outline"
                minimized="false"
                moveable="true"
                ratio="0.8"
                relationship="right"
                relative="org.eclipse.ui.editorss"
                visible="true">
          </view>
          <view
                closeable="true"
                id="gama.ui.application.view.problems"
                minimized="false"
                moveable="true"
                ratio="0.65"
                relationship="bottom"
                relative="gama.ui.application.view.GamaNavigator"
                visible="true">
          </view>
          <perspectiveShortcut 
                id="gama.ui.application.perspectives.SimulationPerspective">
          </perspectiveShortcut>
          <viewShortcut
                id="gama.ui.application.view.InteractiveConsoleView">
          </viewShortcut>
         <view
               closeable="true"
               id="gama.ui.application.view.minimap"
               minimized="false"
               moveable="true"
               ratio="0.5"
               relationship="bottom"
               relative="gama.ui.application.view.outline"
               showTitle="true"
               visible="true">
         </view>
          <view
                closeable="true"
                id="gama.ui.application.view.InteractiveConsoleView"
                minimized="false"
                moveable="true"
                relationship="stack"
                relative="gama.ui.application.view.problems"
                showTitle="true"
                standalone="false"
                visible="true">
          </view>
          <viewShortcut
                id="gama.ui.application.view.problems">
          </viewShortcut>
         <editorOnboardingCommand
               id="org.eclipse.ui.window.showKeyAssist">
         </editorOnboardingCommand>
         <editorOnboardingCommand
               id="org.eclipse.ui.newWizard">
         </editorOnboardingCommand>
         <editorOnboardingCommand
               id="gama.application.command.web">
         </editorOnboardingCommand>
         <viewShortcut
               id="gama.ui.application.view.minimap">
         </viewShortcut>
          <viewShortcut
                id="gama.ui.application.view.outline">
          </viewShortcut>
          <viewShortcut
                id="gama.ui.application.view.GamaNavigator">
          </viewShortcut>
       </perspectiveExtension>
    </extension>
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="gama.ui.perspective.ModelingPerspective"
             fixed="false"
             icon="platform:/plugin/gama.ui.shared/icons/light/views/perspective.modeling.png"
             id="gama.ui.application.perspectives.ModelingPerspective"
             name="Modeling">
          <description> 
             The perspective used to edit GAMA models
          </description>
       </perspective>
    </extension>
    <extension
          point="org.eclipse.ui.services">
       <serviceFactory
             factoryClass="gaml.compiler.ui.utils.ModelRunner">
          <service
                serviceClass="gama.ui.shared.interfaces.IModelRunner"></service>
       </serviceFactory>
       <serviceFactory
             factoryClass="gaml.compiler.ui.outline.LabelProviderFactory">
          <service
                serviceClass="gama.core.common.interfaces.IGamlLabelProvider">
          </service>
       </serviceFactory>
    </extension>
    <extension
          point="org.eclipse.xtext.ui.shared.overridingGuiceModule">
       <module
             class="gaml.compiler.ui.OverridingModule">
       </module>
    </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="org.eclipse.ui.edit.text.contentAssist.proposals"
           contextId="org.eclipse.xtext.ui.XtextEditorScope"
           platform="cocoa"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M4+SHIFT+SPACE">
     </key>
     <key
           commandId="org.eclipse.xtext.ui.ToggleCommentAction"
           contextId="org.eclipse.xtext.ui.XtextEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+/">
     </key>
     <key
           contextId="org.eclipse.xtext.ui.XtextEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+7">
     </key>
  </extension>
</plugin>
